header, nav, section, figure, content, article, aside, embed, footer {    
    
    display: block;
}

html {
    height: 100%;
}

body { 
    margin: 0;
    /* background: #faf5e6; */
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    background: url("/media/notes-bg.jpg")
}

.wrap {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    
}

.pageContent {
    width: 90%;
}

h2.pgTitle {
    font-size: 200%;
}

.lessonPageContent, .aboutPageContent, .contactPageContent {
    display: flex;
    flex-direction: column;
    width: 60%;
    gap: 0.7rem;
    align-items: center;
}

.pageTop {
    margin-bottom: 1vh;
}

header {   
    margin-top: 0%;
    margin-bottom: 1rem;
}

header h1 {  
    font: 2.5rem/1 "Candal", serif;
    font-weight: normal;
    color: #295757;
    margin-bottom: 0;
    margin-top: 0%;
    width: 70%;
    padding: 1%;
    text-align: center;
    position: relative;
    left: 15%;
}

nav {    
    /* width: 20%; */
    margin-top: 1.5rem;
    width: 100%;
    text-align: center;
    /* float: right; */
    margin-right: 2%;
}

nav ul {    
    list-style: none;
    font: 0px/1.25 Righteous, sans-serif;
    display: block;
    z-index: 1000;
    background-color: transparent;
    margin-top: 0;
    /* position: absolute; */
    top: 57px;
    padding-left: 5px;
    border: none;
}


nav ul.change {
    display: block;
    font-size: 28px;
    right: 5%;
    border: 2px solid #295757;
    border-radius: 5%;
    padding: 1%;
}

.navItem.change {
    display: block;
}

nav a {   
    background-color: transparent;
    text-decoration: none;
    color: #295757;
}

nav ul li:hover {
    text-decoration: underline #295757 dotted;
}


#hamburger {
    display: inline-block;
    width: 30px;
    position: absolute;
    top: 0.2rem;
    right: 2%;
    cursor: pointer;    
}

.hmbgrBar {
    width: 30px;
    height: 5px;
    background-color: #295757;
    margin: 6px 0;
    }

.change.hBar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

.change.hBar2 {
    opacity: 0;
}

.change.hBar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}



.hmSec img {
    width: 100%;
    border-radius: 1.5em;
}

.lessonSec img {
    width: 60%;
    border-radius: 1.5em;
    margin-left: 50%;
    transform: translateX(-50%);
}

/* .lessonSec {
    width: 90%;
    margin: 0 auto;
}

.lessonSec img {
    width: 100%;
} */

.lessonSec h2 {
    text-align: center;
}
/* .aboutSec {
    width: 90%;
    margin: 0 auto;
    clear:both;
}*/
.aboutSec img {
    width: 30%;
    float: left;
    margin: 0 1rem 1rem 0;
    border-radius: 1.5rem;
} 

.contactSec {
    width: 90%;
    margin: 0 auto;
}

.contactSec img {
    width: 28%;
    margin-top: 1rem;
    float: left;
    margin-right: 1rem;
    margin-bottom: 3rem;
    border-radius: 1.5rem;
}

.contactSec h2 {
    text-align: left;
}

.contactWrap {
    min-height: 100vh;
}

#repoWrap p {
    margin-left: 1%;
    margin-right: 1%;
}

#repoWrap h2 {
    text-align: left;
}

.aboutSec h2 {
    text-align: left;
}

h2 {
    text-align: center;
    font-family: Arial, sans-serif;
    color: #295757;
}


footer {
    
    margin-bottom: 0;
    margin-top: auto;
    min-height: 5vh;
    /* background: #295757;
    color: #FFF8E1; */
}

.absFoot {
    clear:both;
    width: 100%;
    position: absolute;
    bottom: 0;
}

/* .footDiv a {
    text-decoration: none;
    color: #FFF8E1;
} */

.footDiv {
    margin-bottom: 2vh;
    padding-top: 2vh;
    text-align: center;
}


/* .hmSec:first-of-type {
    grid-column: 1/2;
    grid-row: 1/2;
    
}

.hmSec:nth-of-type(2) {
    grid-column: 2/3;
    grid-row: 1/2;
    
    
}

.hmSec:nth-of-type(3) {
    grid-column: 3/4;
    grid-row: 2/3;
    
}

.hmSec:last-of-type {
    grid-column: 4/5;
    grid-row: 2/3;
    
} */



@media screen and (min-width: 483px)
{
    header h1 {
        font-size: 3.5rem;
    }
    
    
    #hamburger {
        top: 1rem;
    }
    
    /* .lessonSec img {
        width: 30%;
        float: left;
        padding-right: 1rem;
        padding-bottom: 1rem;
    }
    
    .lessonSec {
        padding-left: 1rem;
    } */
    
     .lessonSec h2 {
        text-align: left;
    }
    
    footer {
        clear: both;
        margin-top: 2rem;
    }
    
    /* .footDiv {
        display: inline-block;
        padding-top: 1vh;
        margin-bottom: 0;

    }

    
    .footDiv {
        margin-right: 2rem;
    } */

    /* #footDiv1 {
        margin-left: 2%;
    }

    #footDiv2 {
        position: absolute;
        right: 50%;
        transform:translateX(50%);
    }

    #footDiv3 {
        position: absolute;
        right: 0;
        margin-right: 2%;
    } */
}

@media screen and (min-width: 800px)
{
    .wrap {       
        width: 60%;
        margin-top: 20px;
        border-radius: 1.5em;
        padding-top: 1rem;
    } 

    .pageContent {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        width: 90%;
        row-gap: 0.7rem;
    }

    .hmSec, .lessonSec, .aboutSec, .contactSec {
        width: 90%;
        margin: 0.7rem auto;
        box-shadow: 0 0.5em 1em #a3a9a9;
        border-radius: 1.5em;
        padding: 1rem;
    }
    
    #homeWrap {
        min-height: 100vh;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: min-content, auto, min-content;
    }
    
    .pageTop {
        grid-row: 1/2;
        grid-column: 1/-1;
    }
    
    header {  
        margin-top: 0%;
    }
    
    header h1 {
        font-size: 3.5rem;
        text-align: left;
        margin-left: 0;
        position: static;
        width: 100%;
    }
    
    #hamburger {       
       right: 2%;
    }
    
    .hmSec {
        margin: 0;
        padding: 1rem;
    }
    
    /* .lessonSec {

        margin: 0;
        padding: 0 1rem 1rem 1rem;
    } */
    
    /* .aboutSec {
        margin: 0;
        padding: 0 1rem 1rem 1rem;
    }
    
    .aboutSec img {
        width: 15%;
    } */
    
    .contactSec {
        margin: 0;
        padding: 0 1rem 1rem 1rem;
    }
    
    
    /* .hmSec:first-of-type {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    
    .hmSec:nth-of-type(2) {
        grid-column: 2/3;
        grid-row: 2/3;
    }
    
    .hmSec:nth-of-type(3) {
        grid-column: 1/2;
        grid-row: 3/4;
    }
    
    .hmSec:last-of-type(4) {
        grid-column: 2/3;
        grid-row: 3/4;
    } */
    
    footer {
        grid-row: 4/5;
        grid-column: 1/-1;
    }

}

@media screen and (min-width: 980px)
{
    #homeWrap {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: min-content, auto, min-content;
    }
    
    #lessonsWrap {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: min-content, auto, min-content;
    }
    
    
    
    header h1 {
        
        /* width: 90%; */
    }
    
    nav {
        /* text-align: right; */
        /* width: 35%; */

    }
    
    nav li {
        display: inline;
        padding-right: 0;
        padding: 0;
        margin-right: 2em;
    }
        
    nav a {      
        margin-right: 0;
        margin-left: 0.3%;
        padding: 0;
        padding-left: 0.5%;
        /* border-left: 2px solid #295757; */
    }
    
    #hamburger {       
        display: none;
        width: 0;
    }
    
    .hmbgrBar {    
        visibility: collapse;
        display: inline;
        width: 0;
    }
    
    #hmbgrLabel {
        visibility: collapse;
        width: 0%;
        height: 0%;
        font-size: 0;
        float: right;
    }
    
    nav ul {
        position: static;
        list-style: none;  
        font: 1.2rem/1.5 Righteous, sans-serif;
        display: inline;
        width: 100%;
        padding: 0;
    }
    
    nav ul.change
    {
        font-size: 1.2rem;
        border: none;
        display:none;
    }
 
    
    /* .hmSec:first-of-type {
        grid-column: 1/2;
        grid-row: 2/3;
        
    }
    
    .hmSec:nth-of-type(2) {
        grid-column: 2/3;
        grid-row: 2/3;
        
        
    }
    
    .hmSec:nth-of-type(3) {
        grid-column: 3/4;
        grid-row: 2/3;
        
    }
    
    .hmSec:last-of-type {
        grid-column: 4/5;
        grid-row: 2/3;
        
    } */
    
    /* .lessonSec img {
        clear:both;
        width: 100%;
    } */
    
    .lessonSec h2 {
        text-align: center;
    }
    
    .pageTitle {
        grid-column: 1/-1;
        grid-row: 2/3;
    }
    
    #voiceLessons {
        grid-column: 1/2;
        grid-row: 3/4;
    }
    
    #pianoLessons {
        grid-column: 2/3;
        grid-row: 3/4;
    }
    
    #guitarLessons {
        grid-column: 3/4;
        grid-row: 3/4;
    }
    
    footer {
        grid-row: 3/4;
    }
    
}


